.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2em 0;
}

.gallery {
  width: 100%;
}

.menu {
  width: 15vw;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.menuLinks > * {
  margin: 1em 0;
}

.image {
  position: relative;
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.mainImage {
  position: relative;
  width: 80vw;
  height: 18em;
}

.thumbnailContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.thumbnailContainer > div {
  width: 25%;
  margin-top: 1em;
  margin-right: 1em;
}

.thumbnailContainer > div:last-child {
  margin-right: 0em;
}

.thumbnail {
  width: 100%;
  height: 10em;
  position: relative;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    padding: 1em;
  }

  .menu {
    width: 100%;
  }

  .menuLinks {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
  }

  .menuLinks > * {
    margin: 0;
  }

  .mainImage {
    width: 100%;
  }

  .thumbnailContainer {
    width: 100%;
  }

  .thumbnailContainer > div {
    width: 25%;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }

  .thumbnail {
    height: 5em;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .mainImage {
    height: 25em;
  }
}

@media (min-width: 1365px) {
  .main {
    padding: 3em 0;
  }
  .mainImage {
    height: 30em;
  }
}

@media (min-width: 1800px) {
  .main {
    padding: 4em 0;
  }
  .mainImage {
    height: 35em;
  }
}
